/* Import Global Styles */
@import url('/assets/css/global.css');

/* Main Container */
main {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-me {
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 600px;
}

.contact-links ul {
    list-style: circle;
    padding: 25;

}

.contact-links li {
    margin: 10px 0;
}

.contact-links a {
    text-decoration: none;
    color: #3498db;
    font-size: 18px;
}

.contact-links a:hover {
    text-decoration: underline;
}